@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  font-family: Russo One;

  user-select: none;
  background-color: #c4c4c4;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.drum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.drum-pad {
  background: gray;
  width: 5rem;
  height: 5rem;
  border-radius: 6px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#display {
  background: rgb(146, 146, 146);
  border-radius: 5px;
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: column;
  line-height: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 1rem auto;
  border: 2px solid black;
}
